<!DOCTYPE html>

<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gloock&display=swap" rel="stylesheet">
        
        <title>Exercise</title>
        
        <link rel="stylesheet" type="text/css" href="../Static/obesity1.css">
    </head>
    <body>
        
        <div><p class="Heading" style=font-size:90px>HEALTH - IT.com</p>
            <p class="innerheading">WHERE TECHNOLOGY MEETS HEALTH</p>
        </div>
        <div class="center">
            <a href="../Templates/Obesity.html">
        <button class="my-button">Obesity Predictor</button>
            </a>
        <button class="my-button">Fertility Predictor</button>
        </div>
                
       
    </body>
</html>