<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gloock&display=swap" rel="stylesheet">
        <title>Obesity Predictor</title>
        <link rel="stylesheet" type="text/css" href="../Static/Obesity2.css">
    
    </head>
    <body>
        
        <div class="heading" style=font-size:90px>
        </div>
        <p style="font-size: 60px; font-family: 'Times New Roman', Times, serif;font-weight: bolder; text-align: center;"><u>Obesity Predictor</u></p>
        
        <div id="login-box">
            <div class="left">
                <form action="" method="post">
                    <div class="input-wrapper">
                        <label for="Gender">Gender:</label>
                        <input type="number" id="Gender">
                    </div>
                    <div class="input-wrapper">
                        <label for="age">Age:</label>
                        <input type="number" id="age">
                    </div>
                    <div class="input-wrapper">
                        <label for="height">Height(m):</label>
                        <input type="number" id="height">
                    </div>
                    <div class="input-wrapper">
                        <label for="weight">Weight(kg):</label>
                        <input type="number" id="weight">
                    </div>
                    <div class="input-wrapper">
                        <label for="Family-History">Family-History:</label>
                        <input type="number" id="Family-History">
                    </div>
                    <div class="input-wrapper">
                        <label for="FAVC">FAVC:</label>
                        <input type="number" id="FAVC">
                    </div>
                    <div class="input-wrapper">
                        <label for="FCVC">FCVC:</label>
                        <input type="number" id="FCVC">
                    </div>
                    <div class="input-wrapper">
                        <label for="NCP">NCP:</label>
                        <input type="number" id="NCP">
                    </div>
                    <div class="input-wrapper">
                        <label for="Smoke">Smoke:</label>
                        <input type="number" id="Smoke">
                    </div>
                    <div class="input-wrapper">
                        <label for="CH2O">CH2O:</label>
                        <input type="number" id="CH2O">
                    </div>
                    <div class="input-wrapper">
                        <label for="CALC">CALC:</label>
                        <input type="number" id="CALC">
                    </div>
                    
                    <div>
                        <input type="submit">
                          

                    </div>
                </form>
                
        <br>
        <h3 style="color: rgb(234, 0, 0);"><b>NOTE</b></h3>
        <pre>
        * Type 0 for No/ 1 for Yes
        * Type 0 for Female/1 for Male
        * FAVC: Frequent consumption of
         high caloric food
        * FCVC: Frequency of consumption 
        of vegetables
        * NCP: Number of main meals
        * CH20: Consumption of water daily 
        * CALC: Consumption of alcohol
        </pre>
        </div>
        
            
            
        
            
        
    
    </body>
</html>
